body {
    background-image: url("https://i.pinimg.com/originals/90/d3/69/90d369307d0a2cac8dd2cea650f4f797.jpg");
  }

h1 {
    color: white;
    background-color: blueviolet;
}

h2 {
    color: white;
}

p {
    color: white;
}